<div class="row ml-2">
  <h2>Sign up</h2>
</div>
  <!--url 省略で自動で create アクションへふりわけ-->
<div class="row ml-2">

  <%= form_with(model:@user,local:true) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field form_group">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field form_group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field form_group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field form_group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions my-4 w-50">
      <%= f.submit "Sign up", class: "btn btn-block btn-success" %>
    </div>
  <% end %>
</div>

<div class="row ml-2">
  <%= render "devise/shared/links" %>
</div>

