<h2>User info</h2>
<div>

  <%= form_with(model: @user,local: true) do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :profile_image,"Image" %>
      <%= f.attachment_field :profile_image %>
    </div>
    <div>
      <%= f.label :introduction %>
      <%= f.text_area :introduction %>
    </div>
    <%= f.submit "Update User" %>
  <% end %>
</div>