<h2>Editing Book</h2>
<%= form_with(model: @book,local: true) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit "Update Book" %>
  </div>
  <%= link_to("Show",book_path(@book.id)) %> |
  <%= link_to("Back",:back) %>
<% end %>
