<div class="col-sm-4">

  <h2>User info</h2>
  
  <%= attachment_image_tag(user, :profile_image, :fill, 60, 60,fallback: "no_image.jpg") %>
  <table class="table font-weight-bold">
    <tbody>
      <tr>
        <td>name</td><td><%= user.name %></td>
      </tr>
      <tr>
        <td>introduction</td><td><%= user.introduction %></td>
      </tr>
    </tbody>
  </table>
  
    <% if not user == current_user %>
      <%= link_to(user_path(current_user.id),class: "btn btn-defalut w-100 border-secondary") do %>
        <i class="fas fa-users-cog"></i>
      <% end %>
    <% else %>
      <%= link_to(edit_user_path(current_user.id),class: "btn btn-defalut w-100 border-secondary") do %>
        <i class="fas fa-users-cog"></i>
      <% end %>
    <% end %>
    
  <h2 class="mt-4">New book</h2>
  
  <% book = Book.new %>
    <%= form_with(model: book,url: "/books#create",local: true,method: :post) do |f| %>
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title,class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :body,"Opinion" %><br>
        <%= f.text_area :body,class: "form-control" %>
      </div>
      <div class="mt-4">
        <%= f.submit "Create Book",class: "btn btn-success" %>
      </div>
    <% end %>
    
</div>
