<!DOCTYPE html>
<html>
  <head>
    <title>Booker2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to("Home",root_path) %>
      <%=
      <% if user_signed_in? %>
        <%= link_to("Users",users_path) %>
        <%= link_to("Books",books_path) %>
        <%= link_to("Log out",destroy_user_session_path,method: :delete) %>
      <% else %>
        <%= link_to("About",about_path) %>
        <%= link_to("Sign up",new_user_registration) %>
        <%= link_to("Log in ",new_user_session) %>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <p>
        CopyRight Infratop.inc
      </p>
    </footer>
  </body>
</html>
